.slide-container {
  width: 95%;
  margin: auto;
  position: relative;
}

@media screen and (min-width: 768px) {
  .slide-container {
    width: 80%;
  }
}

.each-slide > div {
  background-size: cover;
  background-position: center;
  height: 550px;
}
